.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  list-style-type: none;
  text-align: center;
  width: 250px;
  height: 180px;
  padding: 30px 0;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 2px 16px;
  margin-top: 20px;
}

.card-image {
  border-radius: 50%;
}

.users-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
}

.search-input {
  width: 80%;
  display: flex;
  margin: 20px auto 10px auto;
  height: 35px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-accept {
  background-color: #4caf50;
}

.button-reject {
  background-color: #f44336;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row-reverse;
}

li {
  list-style-type: none;
}

.margin-right {
  margin-right: 20px;
}
